<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>JASTIP</title>
</head>
<body>
        <div class="page-header">
            <div class="container text-center">
                <h1>JasTip</h1>
                <h3>Make Your Trip Profitable</h3>
            </div>
        </div>
        <cente>
                  <a href="/users/berangkaters/add">
                    <button type="button" name="button" class="btn  btn-success"><span class="glyphicon glyphicon-education"></span>MAKE TRIP</button>
                  </a>
        </center>
        <br/>
</body>
</html>
