<!DOCTYPE html>
<html>
  <head>
    <%include ./partials/headert%>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/users/berangkaters/add" method="post">
      <h5>location</h5>
      <input type="text" name="location" value="" placeholder="input location"><br>
      <h5>departure</h5>
      <input type="date" name="departure" value="" placeholder="input departure time"><br>
      <h5>arrival</h5>
      <input type="date" name="arrival" value="" placeholder="input arrival time"><br>
      <br>
      <input type="submit" name="" value="SUBMIT">
    </form>
  </body>
</html>
