<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <h2>INDEX</h2>
  <body>
    <a href="/users">TITIP</a>
    <a href="/destinations">DESTINASI</a>
    <a href="/titipers">TITIPERS</a>
    <a href="/berangkaters">BERANGKATERS</a>
  </body>
</html>
