<!DOCTYPE html>
<html lang="en">
<head>
  <title>JasTip</title>
</head>
<body>
  <div>
    <a href="/"><button>Logout ⏏️</button></a>
  </div>
  <div>
    <a href="https://api.whatsapp.com/send?phone=6281293402209"><button>Have Question ❓</button></a>
  </div>
</body>
</html>
<div>
    <h2>Jasa Page</h2>
</div>
<div><%- include('../views/partials/footer')%></div>