<%- include('../views/partials/header')%>
<div id="login">
  <form class="ui form" action="" method="post">
    <input name="email" type="text" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <input class="ui primary button" type="submit" value="Login">
  </form>
  </div>