<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UPDATE DESTINATION</title>
  </head>
  <h2>UPDATE DESTINATION</h2>
  <body>
    <form class="" action="/users/berangkaters/update/<%=dataDestination.id%>" method="post">
      <input type="text" name="location" value="<%=dataDestination.location%>">
      <input type="date" name="departure" value="<%=dataDestination.departure%>">
      <input type="date" name="arrival" value="<%=dataDestination.arrival%>">
      <input type="submit" name="" value="UPDATE DESTINATION">
    </form>
  </body>
</html>
