<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%dataTransactions.forEach(element => {%>
    <div><%=element.barang%></div>
    <div><%=element.jumlahBarang%></div>
    <%)}%>
</body>
</html>